# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.Debug
*.Release
*.user
build-delegate_performance_test-Desktop_Qt_5_3_0_MinGW_32bit-Release/Makefile
build-delegate_performance_test-Desktop_Qt_5_3_0_MinGW_32bit-Debug/Makefile
*.tlog
*.log
*.suo
*.sdf
*.pdb
*.idb
*.ilk
*.opensdf
src/unit_test/Makefile
